# Build output
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# GoLand IDE files
.idea/
*.iml

# Go modules
/go.sum
/go.mod

# Logs
*.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db
